# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Env
.env
venv/
.venv/

# Logs
*.log

# OS
.DS_Store

# Node / frontend
node_modules/
dist/
build/

# Temp / basura
*.tmp
*.swp
patch.js
output.txt
final_diff.txt
git_diff.txt
prompt.txt
tatus
